:root {
    --strong: #553725;
    --medium: #81583a;
    --normal: #b3895d;
    --light: #FFFBE9;
    --black: #FFFFF
    --fs-xl: clamp(2.5rem, 1vw + 1rem, 6rem);
    --fs-l: 2.3rem;
    --fs-600: 1.9rem;
    --fs-500: 1.4rem;
    --fs-400: 1rem;
}

@media (min-width: 52em) {
    :root{
        --fs-l: 3.1rem;
        --fs-600: 2.5rem;
        --fs-500: 1.8rem;
       --fs-400:1.125rem; 
    }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    height: 100%;
    box-sizing: border-box;
    background: #ECECEB;
}

body {
    min-height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 900;
    color: var(--strong);
}

img {
    max-width: 100%;
}

header, section {
    padding-right: 0;
    padding-left: 0;
    padding-top: 3rem;
}

button {
    border: none;
    background: none;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--medium);
    transition: 0.3s ease-in-out;
}

a:hover, a:active {
    color: var(--normal)
}

