:root {
    --strong: #553725;
    --medium: #81583a;
    --normal: #b3895d;
    --light: #FFFBE9;
    --black: #FFFFF
}

html, body {
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    box-sizing: border-box;
    background: #ECECEB;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-weight: 900;
    color: var(--strong);
}

img {
    max-width: 100%;
}

header, section {
    padding: 3rem 0;
}

button {
    border: none;
    background: none;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 1rem;
}

a {
    color: var(--medium);
    transition: 0.3s ease-in-out;
}

a:hover, a:active {
    color: var(--normal)
}

