---
import Section from '@components/Section.astro';
---

<Section title="About me">
  <div class="container">
  <img />
  </div>
</Section>

<style>
.container {
    min-height: 25rem;
}
</style>

<script></script>
