---
import Section from "@components/Section.astro";
---

<Section title="Contact me">
</Section>

<style>
  .main-container {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    align-items: center;
  }
</style>

<script></script>
