---
import { Icon } from 'astro-icon';

interface Props {
  menuTabs: string[];
}
const { menuTabs } = Astro.props;
---

<header>
  <div>
    <div class="container">
      <h1>Santiago.</h1>
      <button id="menu">
        <Icon name="mdi:menu" />
      </button>
    </div>
    <div id="menu-tab" class="menu hidden">
      <ul>
        {
          menuTabs.map((item) => (
            <li>
              <a>{item}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="hero">
      <h2>I am Software Engineer</h2>
      <span>Perfection is clean software</span>
    </div>
  </div>
</header>

<style>
  [astro-icon] {
    color: var(--strong);
    width: 2rem;
    height: 2rem;
    transition: 0.5s ease-in-out;
  }

  [astro-icon]:hover {
    transform: rotate(-360deg);
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    align-items: center;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem;
    text-align: end;
    transition: 0.5s ease-in-out;
  }

  a {
    font-size: 16px;
    font-weight: 550;
    font-style: italic;
  }

  .hidden {
    opacity: 0;
  }

  h2 {
    font-size: 3rem;
  }

  span {
    font-style: italic;
    color: var(--medium);
    font-size: 1.5rem;
  }

  .hero {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  const button = document.getElementById('menu');
  const menu_tab = document.getElementById('menu-tab');

  button?.addEventListener('click', () => {
    menu_tab?.classList.toggle('hidden');
  });
</script>
