---
import { Icon } from 'astro-icon';

interface Props {
  menuTabs: string[];
}
const { menuTabs } = Astro.props;
---

<header>
  <div>
    <div class="container">
      <h1>Santiago.</h1>
      <button id="menu">
        <Icon name="mdi:menu" />
      </button>
    </div>
    <div id="menu-tab" class="menu hidden">
      <ul>
        {
          menuTabs.map((item) => (
            <li>
              <a>{item}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="hero">
      <div class="wrapper">
        <h2>I am</h2>
        <div class="animated-txt">
          <span>software engineer</span>
        </div>
      </div>
      <span>Perfection is clean software</span>
    </div>
  </div>
</header>

<style>
  [astro-icon] {
    color: var(--strong);
    width: 2rem;
    height: 2rem;
    transition: 0.5s ease-in-out;
  }

  [astro-icon]:hover {
    transform: rotate(-360deg);
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    align-items: center;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem;
    text-align: end;
    transition: 0.5s ease-in-out;
  }

  .wrapper {
    display: inline-flex;
  }

  .wrapper {
    margin-left: 0.6rem;
    overflow: hidden;
  }

  .animated-txt {
      position: relative;
  }

  .animated-txt span {
      font-size: var(--fs-l);
  }

  .animated-txt span::after {
    content: '';
    position: absolute;
    left: 0;
    background: var(--light);
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--medium);
    animation: typing 6s steps(16) infinite;
  }

  @keyframes typing {
    50% {
      left: 100%;
    }

    0% {
      left: 0%;
    }
  }

  a {
    font-size: var(--fs-400);
    font-weight: 550;
    font-style: italic;
  }

  .hidden {
    opacity: 0;
  }

  h2 {
    font-size: var(--fs-l);
    margin: 0;
    padding: 0;
  }

  .hero {
    padding: 0 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
  }
</style>

<script>
  const button = document.getElementById('menu');
  const menu_tab = document.getElementById('menu-tab');

  button?.addEventListener('click', () => {
    menu_tab?.classList.toggle('hidden');
  });
</script>
