---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section class="container">
  <div>
    <h2>{title}</h2>
    <div>
      <slot />
    </div>
  </div>
</section>

<style>
.container {
    display: flex;
    justify-content: center;
}
</style>

<script></script>
